  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
    }
    .card {
        /* background-color: white; */
        background-color: #101827;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
    }
    .card h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }
    @media (max-width: 480px) {
        .card {
            padding: 20px 15px;
        }

        .card h1 {
            font-size: 1.25rem;
        }
    }
    a {
        color: white;
        /* color: black; */
    }
    .card p {
        font-size: 1rem;
        /* color: #333; */
        color: white;
        margin-bottom: 30px;
    }
    .card p b {
        font-weight: bold;
    }
    /* .btn {
        background-color: #17A34A;
        color: white;
        padding: 12px 65px;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        background-color: #4caf50;
    }
    @media (max-width: 480px) {
        .btn {
            width: 100%;
        }
    } */

.btn {
    display: inline-block;
    background-color: #17A34A;
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
}

.btn:hover {
    background-color: #28b35d;
}

@media (max-width: 480px) {
    .btn {
        width: 100%;
        padding: 12px 0;
    }

    .card span {
        font-size: 0.85rem;
    }
}